<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Standby List</title>
</head>
<h1>
    Standby List Sign-Up
</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${patient}">
    <p>First Name: <label>
        <input th:field="*{firstName}" type="text"/>
    </label>
    </p>
    <p> Last Name: <label><input th:field="*{lastName}" type="text"/></label>
    </p>
    <p> In what category would you classify your occupation?
        <label><select th:field="*{occupation}">
            <option value="Accommodation and Food Services">Accommodation and Food Services</option>
            <option value="Administration, Business Support and Waste Management Services">Administration, Business
                Support and Waste Management Services
            </option>
            <option value="Agriculture, Forestry, Fishing and Hunting">Agriculture, Forestry, Fishing and Hunting
            </option>
            <option value="Arts, Entertainment and Recreation">Arts, Entertainment and Recreation</option>
            <option value="Construction">Construction</option>
            <option value="Educational Services">Educational Services</option>
            <option value="Finance and Insurance">Finance and Insurance</option>
            <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
            <option value="Information">Information</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Mining">Mining</option>
            <option value="Other Services (except Public Administration)">Other Services (except Public
                Administration)
            </option>
            <option value="Professional, Scientific and Technical Services">Professional, Scientific and Technical
                Services
            </option>
            <option value="Real Estate, Rental and Leasing">Real Estate, Rental and Leasing</option>
            <option value="Retail Trade">Retail Trade</option>
            <option value="Transportation and Warehousing">Transportation and Warehousing</option>
            <option value="Utilities">Utilities</option>
            <option value="Wholesale Trade">Wholesale Trade</option>
        </select>
        </label>
    </p>
    <p> With which race do you most closely identify?
        <label>
            <select th:field="*{race}">
                <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
                <option value="Asian">Asian</option>
                <option value="Black or African American">Black or African American</option>
                <option value="Hispanic or Latino">Hispanic or Latino</option>
                <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander
                </option>
                <option value="White">White</option>
                <option value="White">Other</option>
            </select>
        </label>
    </p>
    <p>
        Age: <label>
        <input name="num" th:field="*{age}" type="number">
    </label>
    </p>
    <p>
        Enter a phone number:<br><br>
        <label>
            <input id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
                   th:field="*{phoneNumber}"
                   type="tel">
        </label>
    </p>
    <p>
        <label>Press the button below for us to find your nearest pharmacy:</label><br><br>
        <button th:onclick="saveLocation()" type="button">
            Calculate Location From Pharmacy
        </button>
    </p>
    <div id="distanceCalculatedText"><b>Distance Successfully Calculated</b></div>
    <label>
        <input hidden id="location-passer" name="location-passer" th:field="*{location}" type="text">
    </label>
    <p><input th:onclick="hideDistanceCalculatedText()" type="submit" value="Submit"/> <br>
        <input type="reset" value="Reset"/>
    </p>
</form>
<br>
<form action="#" th:action="@{'/adminPanel'}" th:method="get">
    <button type="submit">Admin Panel</button>
</form>
<script th:inline="javascript">
    let y = document.getElementById("location-passer");
    let z = document.getElementById("distanceCalculatedText");
    document.getElementById("distanceCalculatedText").style.display = "none";

    function saveLocation() {
        if (navigator.geolocation) {
            z.style.display = "block";
            navigator.geolocation.getCurrentPosition(assignLatAndLong);
        } else {
            y.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function assignLatAndLong(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        y.value = "" + latitude + "," + longitude;
    }

    function hideDistanceCalculatedText() {
        z.style.display = "none";
    }
</script>
</html>