<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Standby List</title>
</head>
<h1>
    Standby List Sign-Up
</h1>
<form action="#" method="post" th:action="@{/register}" th:object="${patient}">
    <p>First Name: <label>
        <input th:field="*{firstName}" type="text"/>
    </label>
    </p>
    <p> Last Name: <input th:field="*{lastName}" type="text"/>
    </p>
    <p> In what category would you classify your occupation?
        <select th:field="*{occupation}" type="radio">
            <option value="Accommodation and Food Services">Accommodation and Food Services</option>
            <option value="Administration, Business Support and Waste Management Services">Administration, Business
                Support and Waste Management Services
            </option>
            <option value="Agriculture, Forestry, Fishing and Hunting">Agriculture, Forestry, Fishing and Hunting
            </option>
            <option value="Arts, Entertainment and Recreation">Arts, Entertainment and Recreation</option>
            <option value="Construction">Construction</option>
            <option value="Educational Services">Educational Services</option>
            <option value="Finance and Insurance">Finance and Insurance</option>
            <option value="Healthcare and Social Assistance">Healthcare and Social Assistance</option>
            <option value="Information">Information</option>
            <option value="Manufacturing">Manufacturing</option>
            <option value="Mining">Mining</option>
            <option value="Other Services (except Public Administration)">Other Services (except Public
                Administration)
            </option>
            <option value="Professional, Scientific and Technical Services">Professional, Scientific and Technical
                Services
            </option>
            <option value="Real Estate, Rental and Leasing">Real Estate, Rental and Leasing</option>
            <option value="Retail Trade">Retail Trade</option>
            <option value="Transportation and Warehousing">Transportation and Warehousing</option>
            <option value="Utilities">Utilities</option>
            <option value="Wholesale Trade">Wholesale Trade</option>
        </select>
    </p>
    <p>
        <label>Age:</label>
        <input name="num" th:field="*{age}" type="number">
    </p>
    <p>
        <label>Enter a phone number:</label><br><br>
        <input id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required
               th:field="*{phoneNumber}"
               type="tel">
    </p>
    <p>
        <label>Press the button below for us to find your nearest pharmacy:</label><br><br>
        <button th:onclick="saveLocation()" type="button">
            Calculate Location From Pharmacy
        </button>
    </p>
    <div id="distanceCalculatedText"><b>Distance Successfully Calculated</b></div>
    <input hidden id="location-passer" name="location-passer" th:field="*{location}" type="text">
    <p><input th:onclick="hideDistanceCalculatedText()" type="submit" value="Submit"/> <br> <input type="reset"
                                                                                                   value="Reset"/></p>
</form>
<script th:inline="javascript">
    let y = document.getElementById("location-passer");
    let z = document.getElementById("distanceCalculatedText");
    document.getElementById("distanceCalculatedText").style.display = "none";

    function saveLocation() {
        if (navigator.geolocation) {
            z.style.display = "block";
            navigator.geolocation.getCurrentPosition(assignLatAndLong);
        } else {
            y.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function assignLatAndLong(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;
        const location = "" + latitude + "," + longitude;
        y.value = location;
    }

    function hideDistanceCalculatedText() {
        z.style.display = "none";
    }
</script>
</html>