<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients Coming</title>
</head>
<body>
<div align="center">
    <h1>Patients Coming</h1>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Occupation</th>
            <th>Age</th>
            <th>Phone #</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patientsComingList}">
            <td th:text="${patient.firstName}">First Name</td>
            <td th:text="${patient.lastName}">Last Name</td>
            <td th:text="${patient.occupation}">Occupation</td>
            <td th:text="${patient.age}">Age</td>
            <td th:text="${patient.phoneNumber}">Phone #</td>
            <td>
                <form action="#" th:method="delete" th:action="@{'/deleteFromComingList/' + ${patient.id}}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>